
@{
    ViewBag.Title = "NotificationAuthorize";
    Layout = "~/Areas/adminstrator/Views/Shared/AdminView.cshtml";
}

<style>
    .{
        text-align: center;
    }
</style>
<h2>NotificationAuthorize</h2>
<h1>Bạn ko có quyền truy cập liên hệ với admin để biết thêm chi tiết</h1>

